* {
  margin: 0;
}
.body {
  background: #f5f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-align-center {
  align-items: center;
  display: flex;
  gap: 24px;
  background-color: #cacacc;
}
.logoText {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 44px;
  color: #cacacc;
}
.anchors {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.logo {
  width: 14px;
  height: 44px;
}
.hover-divs {
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  left: 0;
  height: 0px;
  gap: 100px;
  top: 60px;
  left: 20px;
  transition: 1s all;
}
.hover-divs div p {
  display: none;
}
.hoverloh:hover .hover-divs {
  height: 500px;
}
.hoverloh:hover .hover-divs div p {
  display: block;
}
.hover-div1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 25px;
  gap: 12px;
}
.hover-div2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 15px;
  gap: 12px;
}
.hover-div3 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 15px;
  gap: 12px;
}
.head {
  font-size: 18px;
  color: grey;
  margin-bottom: 20px;
}
.bottom {
  font-size: 18px;
  color: rgb(60, 60, 60);
  margin-top: 20px;
}
.bottom2 {
  font-size: 18px;
  color: rgb(60, 60, 60);
}
